.btn {
  width: fit-content;
  padding: 10px 50px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $mont;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.5s;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  &.hit-pink {
    background: rgb(253, 163, 129);
    background: linear-gradient(90deg, #fda381 0%, rgb(248, 114, 125) 100%);
    &:hover {
      opacity: 0.9;
      box-shadow: 0px 0px 21px 0px rgba(248, 114, 125, 0.49);
    }
  }
  &.purple {
    background: #864dd9;
    background: linear-gradient(90deg, #9255ee 0%, #812dc5 100%);
    &:hover {
      opacity: 0.9;
      box-shadow: 0px 0px 21px 0px rgba(146, 85, 238, 0.5);
    }
  }
}
