// Light
$white: #f9f9f9;
$gray: #c5b4bf;

// Dark
$black: #121417;
$navy: #2e3553;
$clay: #252742;
// Pink
$trendy-pink: #99679e;
$hit-pink: #fda381;
$froly: #f8717d;
$carisma: #ec8298;
$lola: #e3d4dc;
$mauvelous: #ef8c99;

// Violet
$purple-medium: #864dd9;
$pruple-heart: #7127ac;
$heliotrope: #cf53f9;
$strikemaster: #9d5e8a;
