// Light
$white: #f9f9f9;
$gray: #c5c5c5;

// Dark
$black: #121417;
$navy: #2e3553;
$clay: #252742;
// Pink
$trendyPink: #99679e;
$hitPink: #fda381;
$froly: #f8717d;
$carisma: #ec8298;
$lola: #e3d4dc;
$mauvelous: #ef8c99;

// Violet
$purpleMedium: #864dd9;
$purpleHeart: #7127ac;
$heliotrope: #cf53f9;
$strikemaster: #9d5e8a;

// Blue
$azure: #009ffd;

// Yellow
$sunglow: #ffdd00;
