@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:300,400,500,700|Open+Sans:400,600|Poppins:400,500&display=swap&subset=latin-ext");

$mont: "Montserrat", sans-serif;
$open: "Open Sans", sans-serif;
$lato: "Lato", sans-serif;
$poppins: "Poppins", sans-serif;
