body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $white;
}
$wrapperMargin: 0 10%;
.wrapper {
  margin: $wrapperMargin;
}

.boxShadow {
  box-shadow: 0px 0px 30px -5px rgb(194, 194, 194);
}
