// Small tablets and large smartphones (landscape view)
$sm: 400px;

// Small tablets (portrait view)
$md: 768px;

// Tablets and small desktops
$lg: 992px;

// Large tablets and desktops
$xl: 1200px;

// Ipads
$ipad-w: 768px;
$ipad-h: 1024px;
$ipadp-w: 1024px;
$ipadp-h: 1366px;

// Extra Small devices
@mixin xs {
  @media (max-width: #{$sm - 1}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$sm}) and (max-width: #{$md - 1}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$md}) and (max-width: #{$lg - 1}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$lg}) and (max-width: #{$xl - 1}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

// Max Devices < 768px
@mixin max-dv($widthMax) {
  @media (max-width: $widthMax) {
    @content;
  }
}

// Min Devices > 768px
@mixin min-dv($widthMin) {
  @media (min-width: $widthMin) {
    @content;
  }
}

@mixin land-sm {
  @media (max-width: 840px) and (orientation: landscape) {
    @content;
  }
}

@mixin ipad($arg) {
  @if ($arg == ipadl) {
    @media (width: #{$ipad-h}) and (height: #{$ipad-w}) and (orientation: landscape) {
      @content;
    }
  }
  @if ($arg == ipadp) {
    @media (width: #{$ipad-w}) and (height: #{$ipad-h}) and (orientation: portrait) {
      @content;
    }
  }
  @if ($arg == prol) {
    @media (width: #{$ipadp-h}) and (height: #{$ipadp-w}) and (orientation: landscape) {
      @content;
    }
  }
  @if ($arg == prop) {
    @media (width: #{$ipadp-w}) and (height: #{$ipadp-h}) and (orientation: portrait) {
      @content;
    }
  }
}
